<div class="container">
  <div class="row">
    <div class="col py-4">
      <h1><%= @offer.title %></h1>
    </div>
      <div class="row">
      <div class="col"><%= cl_image_tag @offer.photo.key, height: 300, width: 400, crop: :fill %></div>
        <div class="col">
          <h3><%= @offer.description %></h3>
          <h5>Located in:<%= @offer.location %></h5>
          <h5>Price: €<%= @offer.price %>/night</h5>
          <%= simple_form_for [@offer, @booking] do |f| %>
            <%= f.input :start_date, as: :date, html5: true %>
            <%= f.input :end_date, as: :date, html5: true %>
            <%= f.submit "Book now" %>
          <% end %>
        </div>
  </div>
</div>
