<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div class="container-logo d-flex">
      <%= link_to "#", class: "navbar-brand" do %>
        <%= image_tag "https://static.vecteezy.com/system/resources/previews/004/852/840/non_2x/caravan-camper-travel-line-icon-illustration-logo-template-suitable-for-many-purposes-free-vector.jpg", class: "rounded-circle" %>
      <p class="logo-text">McVanRental</p>
      <% end %>
    </div>

<%= simple_form_for :search, url: root_path, method: :get do |f| %>
  <div class="search-form-control form-group d-flex">
    <input class="form-control string required rounded-input" type="text" name="search[query]" id="search_query" />
    <button name="button" type="submit" class="btn btn-flat d-flex searchbtn">
      <i class="fas fa-search"></i> Search
    </button>
  </div>
<% end %>


<%#
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> %>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", "/offers", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "List a new offer", "/offers/new", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "View my bookings", "/bookings", class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "https://avatars.githubusercontent.com/u/122232541?v=4", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Messages", "#", class: "dropdown-item" %>
              <%= link_to "View my bookings", "/bookings/:id", class: "dropdown-item" %>
              <%= link_to "Host your van", "#", class: "dropdown-item" %>
              <%= link_to "Log out", "#", class: "dropdown-item", data: {turbo_method: :delete} %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
         <%# <div class="flash flash-success alert alert-dismissible fade show" role="alert">
            <span><strong>Yay!</strong> 🎉 you successfully signed in to MCvanrental.</span>
              <a data-bs-dismiss="alert" aria-label="Close">
               <i class="fas fa-times"></i>
              </a>
          </div> %>
      </ul>
    </div>
  </div>
</div>
