<div class="container">
  <div class="row">
   <% @offers.each do |offer| %>
      <div class="col-4 d-flex align-items-stretch">
        <div class="col card">
          <%= image_tag (offer.img_url), class: "card-img-top"%>
            <div class="card-body">
              <h5 class="card-title"><%= link_to offer.title, offer_path(offer.id) %></h5>
              <p class="card-text"><%= offer.description %></p>
              <button type="button"><%= link_to "See more", offer_path(offer.id), class: "btn btn-inverse" %></button>
            </div>
            <div class="card-footer">
              <small class="text-muted">Daily price: € <%= offer.price %></small>
            </div>
        </div>
    </div>
    <% end %>
  </div>
</div>
