<div class="container justify-content-center w-50">
    <div class="row pt-4 pb-2">
      <h1>Add your offer</h1>
    </div>
    <div class="row">
      <%= form_with(model: @offer) do |f| %>
          <div class="card card-body">
            <div class="mb-3">
              <%= f.label :title, { class: "form-label"} %>
              <%= f.text_field :title, { class: "form-control", placeholder: "Name of your offer" } %>
            </div>

            <div class="mb-3">
              <%= f.label :description, { class: "form-label"} %>
              <%= f.text_field :description, { class: "form-control", placeholder: "Describe your offer in a few sentences" } %>
            </div>

            <div class="mb-3">
              <%= f.label :price, { class: "form-label"} %>
              <%= f.text_field :price, { class: "form-control", placeholder: "Enter the nightly price" } %>
            </div>

            <div class="mb-3">
              <%= f.label :location, { class: "form-label"} %>
              <%= f.text_field :location, { class: "form-control", placeholder: "Enter your location" } %>
            </div>

            <div class="mb-3">
            <%= f.label :photo, { class: "form-label"} %><br>
            <%= f.file_field :photo, as: :file %>
            </div>
            <center>
            <%= f.submit "Submit", class: "main-btn mt-4 w-25" %>
            </center>
          </div>
        </div>
      <% end %>
  </div>
</div>
