<div class="container">
  <div class="row">
    <div class="col py-4">
      <h1><%= @offer.title %></h1>
    </div>
      <div class="row">
        <div class="col">
          <%= cl_image_tag @offer.photo.key, height: 300, width: 400, crop: :fill %>
          <h3><%= @offer.description %></h3>
          <h5>Located in:<%= @offer.location %></h5>
          <h5>Price: €<%= @offer.price %>/night</h5>
          <button type="button"><%= link_to "Book now!", new_offer_booking_path(@offer.id), class: "btn btn-inverse" %></button>
        </div>
  </div>
</div>
